apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/codebyafroj/backend:9112e3c9eff3005502090c4d85c6bb314ad5dbd3
          imagePullPolicy: Always
          ports:
            - containerPort: 3000
          envFrom: 
            - secretRef:
                name: db-secret  
          env:
            - name: NODE_ENV
              value: production
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      imagePullSecrets:
        - name: github-container-registry
