apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: app-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
    nginx.ingress.kubernetes.io/use-regex: "true"
    # This handles /api/* forwarding to backend
    nginx.ingress.kubernetes.io/rewrite-target: /$2
spec:
  rules:
    - host: app.192.168.167.79.nip.io   # change to your host
      http:
        paths:
          # Backend first
          - path: /api(/|$)(.*)
            pathType: Prefix
            backend:
              service:
                name: backend-service
                port:
                  number: 3000

          # Frontend
          - path: /(.*)
            pathType: Prefix
            backend:
              service:
                name: frontend-service
                port:
                  number: 80
