---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: db-secret
  namespace: default
spec:
  encryptedData:
    MONGO_URI: AgBAQyEE8eQONK92TEL7aQHzi7EAocyqO5C6KY7HcKPI8a/gcp93gUjJPreflQcAntJlEqVrmn/7YynGypuliTZfYg5boevB79jSL+WbOaxsd8UjLWE/rmegAIQffR7lGWaX7y4eXvKcrr6rwUAwwUHgL/zr1GVmxxPse+o4nqEfxTLDCCyh9ExeKGrNwC1gWvAkayrSLJkUu8qRlOGiwMd2lE+7X8J0gIQCmy9rgq9ru0+8qNBDFsCLRxs74zxPLAVphNeNSug1UK4dPr2S0DCOdx1k+SIV7FmZBF1TrZlRrDqpcid9D5D2ejePT4Ark7eNwXWajKqXrpeDKaDXY9+gJnVkRx2mzZFBG6U2bLabRMHy0znlp+YiYX4/uOMoUrNlNL7u/qa0D4zPtRyvAcZuGdG7Se+dZagBu0rie0MUukPHZrbgr+/g4XJm6NhFH8jXicu8D2TYHGJu6AqfUysYx99/EPjKW0jiirbR/0QxTlf2haZA7kc3BXy9sod3MPF/OaRbCpgZII3ro8EauITeWzPM52MZAiW0o3EB6D79o/Qnrro9GdEqU2DfS8rMvqhi6mOIJpokpwyysgHns+oH0RDHMk3YEbrXDdgi3nShVDmb/XrhklWZCMa7PhycHhANWgV9SUi7Bx4YVxlh13bCq/qxuNHiM7E1fac5KQkUWo3zB5j5vfKJXI685bh07gspmpoG/pb50ohgOibZgqbnZPByIMBD/OWoSDMe0JuyuHStjIu4roFlWya13QVbj/dy9uNkj39noFheF04zYBwW/GW0SMWu
  template:
    metadata:
      name: db-secret
      namespace: default
    type: Opaque
